<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

    <script src="/static/js/board.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <link rel="stylesheet" href="/static/css/w3.css">
    <link rel="stylesheet" href="/static/css/board.css">

    <style>

        .list-wrapper {
            display: grid;
            grid-template-columns: 1fr 100px 200px;
        }

        .list-wrapper div {
            border: 1px solid violet;
        }

        .title-header {
            cursor: pointer;
        }

        .title-header:hover {
            font-weight: bolder;
        }
    </style>
</head>
<body>

<div class="width-auto">

    <h3>
        board home
    </h3>

    <div class="w3-container">

        <form id="boardForm" class="" action="/board/home" method="get">

            <input type="hidden" id="pageNum" name="pn" th:value="${boardSearch.pn}">


            <div class="w3-row-padding w3-margin-top">
                <div class="w3-third">

                    <select class="w3-select"
                            id="pageSize" name="ps" onchange="submitForm(1)">
                        <option value="20" th:selected="${boardSearch.getPs() == 20}? 'true' : 'false'">20개씩 보기</option>
                        <option value="30" th:selected="${boardSearch.getPs() == 30}? 'true' : 'false'">30개씩 보기</option>
                        <option value="50" th:selected="${boardSearch.getPs() == 50}? 'true' : 'false'">50개씩 보기</option>
                        <option value="100" th:selected="${boardSearch.getPs() == 100}? 'true' : 'false'">100개씩 보기
                        </option>
                        <option value="200" th:selected="${boardSearch.getPs() == 200}? 'true' : 'false'">200개씩 보기
                        </option>
                    </select>
                </div>

                <div class="w3-third">

                    <input class="w3-input" type="date" name="sd" th:value="${boardSearch.getSd()}">
                </div>
                <div class="w3-third">

                    <input class="w3-input" type="date" name="ed" th:value="${boardSearch.getEd()}">
                </div>
            </div>


            <div class="w3-row-padding w3-margin-top">
                <div class="w3-third">

                    <select class="w3-select" id="searchType" name="t">
                        <option value="">---</option>
                        <th:block th:each="val : ${searchTypes}">
                            <option th:selected="${boardSearch.getT() == val.name()}? 'true' : 'false'"
                                    th:data-match="${boardSearch.getT() == val.name()}"
                                    th:value="${val}"
                                    th:utext="${val}">
                            </option>
                        </th:block>
                    </select>

                </div>

                <div class="w3-third">

                    <input class="w3-input" type="text" id="searchKeyword" name="k" th:value="${boardSearch.k}">
                </div>
                <div class="w3-third">
                    <button type="button" class="w3-button w3-blue"
                            onclick="submitForm(1)">
                        조회
                    </button>

                    <button type="button" class="w3-button w3-green"
                            onclick="gotoRegister()">
                        새 글 작성
                    </button>
                </div>
            </div>
        </form>

    </div>

    <div id="listLocation">

    </div>
</div>

<script>
    window.onload = () => {
        searchList();
    }
</script>

</body>
</html>